
name: GitHub Classroom Workflow

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dev dependencies
        run: npm ci

      - name: Run Classroom Autograding
        uses: github-education/autograding@v1
